.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.LoginPage{
  background: 	#72587F;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.Login{
  background: #BDA0CB;
  width: fit-content;
  height: fit-content;
  padding: 20px;
  border-radius: 10px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

